Binaries/
DerivedDataCache/
Intermediate/
Saved/
Plugins/*/Binaries/
Plugins/*/Intermediate/
.vscode/
.vs/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.xcodeproj
*.xcworkspace
.DS_Store
Build/Receipts/
Build/SucceededPackages/
Build/FileOpenOrder/
*/Build/Receipts/
*/Build/SucceededPackages/
*/Build/FileOpenOrder/